# List
1) List is an ordered sequence of items.
2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

# List Creation

In [1]:
list1 = [] # Empty List

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10,30,60] # List of integers numbers

In [4]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [5]:
list4 = ['one','two' , "three"] # List of strings

In [6]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [7]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [8]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [9]:
len(list6) #Length of list

3

In [10]:
list2[0] # Retreive first element of the list

10

In [11]:
list4[0] # Retreive first element of the list

'one'

In [12]:
list4[0][0] # Nested indexing - Access the first character of the first list elem

'o'

In [13]:
list4[-1] # Last item of the list

'three'

In [14]:
list5[-1] # Last item of the list

[150, 90]

In [15]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [16]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [17]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [18]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [19]:
mylist[:2] # Return first two items

['one', 'two']

In [20]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [21]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [22]:
mylist[-1] # Return last item of the list

'eight'

In [23]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add , Remove & Change Items

In [24]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [25]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [26]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [27]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [28]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [29]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [30]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [31]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [32]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [33]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [34]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

# Copy List

In [40]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','ten']

In [41]:
mylist1 = mylist # Create a new reference "mylist1"

In [42]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(4408077056, 4408077056)

In [43]:
mylist2 = mylist.copy() # Create a copy of the list

In [44]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

4601678912

In [45]:
mylist[0] = 1

In [46]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [47]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [48]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

# Join Lists

In [49]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [50]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [51]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [52]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
'one' in list1 # Check if 'one' exist in the list

True

In [54]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [56]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [57]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [58]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [69]:
list1.reverse()

In [60]:
list1[::-1]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [61]:
mylist6 = [9,1,3,2,7,5,8,6]

In [62]:
mylist6.sort()

In [63]:
mylist6

[1, 2, 3, 5, 6, 7, 8, 9]

In [64]:
mylist5 = [9,1,3,2,7,5,8,6]

In [66]:
mylist5.sort(reverse=True)
mylist5

[9, 8, 7, 6, 5, 3, 2, 1]

In [67]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original li

[11, 21, 33, 65, 88, 98]

# Loop through a list

In [68]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [70]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [71]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [73]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [74]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [75]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [76]:
list10.count('two')

2

In [77]:
list10.count('four') #Occurence of item 'four' in the list

1

# All / Any
The all() method returns:
True - If all elements in a list are true
False - If any element in a list is false
The any() function returns True if any element in the list is True. If not, any() returns False.

In [78]:
L1 = [1,2,3,4,0]

In [80]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [81]:
any(L1) # Will Return True as we have items in the list with True value

True

In [82]:
L2 = [1,2,3,4,True,False]

In [83]:
all(L2) # Returns false as one value is false

False

In [84]:
any(L2) # Will Return True as we have items in the list with True value

True

In [85]:
L3 = [1,2,3,True]

In [86]:
all(L3) # Will return True as all items in the list are True

True

In [87]:
any(L3) # Will Return True as we have items in the list with True value

True

# List Comprehensions
List Comprehensions provide an elegant way to create new lists.
It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [88]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [90]:
mylist1 = [i for i in range(40) if i%2 == 0] # Display all even numbers between 1 to 40
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [92]:
mylist1 = [i for i in range(40) if i%2 == 1] # Display all odd numbers between 1 to 40
mylist1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [95]:
mylist8 = [i for i in range(40) if i%2 != 0] # Display all odd numbers between 1 to 40
mylist8

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [98]:
mylist3 = [num**2 for num in range(10)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [103]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi
mylist1 = [i for i in range(300) if i%3 == 0 if i%9 == 0  if i%12 == 0]
mylist1

[0, 36, 72, 108, 144, 180, 216, 252, 288]

In [114]:
l1 = [i for i in range(10) if i%2==0 ]
l1

[0, 2, 4, 6, 8]

In [118]:
l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(1,11)]

1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number
10 is Even Number

In [119]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [120]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']