# Important libraries

In [13]:
import sys
import keyword
import operator
from datetime import datetime
import os

# keywords
#Keywords are the reserved words in Python and can't be used as an identifier
#printing number of keywords

In [25]:

print(keyword.kwlist)

print("the total number of keywords are :",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
the total number of keywords are : 35

# IDENTIFIERS

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [18]:
# Identifier can't use special symbols

1var = 3

SyntaxError: invalid decimal literal (2051430499.py, line 3)

In [19]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [27]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val2 = 100
val_ = 99

# Comments in Python 
Comments can be used to explain the code for more readabilty.

In [28]:
# Single line comment 

# Multiple
# Line
# Comment

'''
Multiple
Line 
Comment
'''

"""
Multiple
Line
Comment
"""

'\nMultiple\nLine\nComment\n'

# Statements
Instructions that a Python interpreter can execute.

In [30]:
#Single line statement 
p1 = 1 + 3
p1

p2 = ['a','b','c','d']
p2

['a', 'b', 'c', 'd']

In [35]:
#Multi Line Statement
p1 = ['a', \
     'b',\
     'c']

p1

['a', 'b', 'c']

In [36]:

p2 = [1 +\
     2+\
     3+\
     4]
p2

[10]

# Indentation
Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with IndentationError error.

In [50]:
a = 10
if a == 10:
print(a)

IndentationError: expected an indented block after 'if' statement on line 2 (3124465760.py, line 3)

In [52]:
a = 10
if a == 10: #correct indentation
    print(a)

10

In [53]:
for i in range(0,5): #correct indentation
    print(i)

0
1
2
3
4

In [55]:
j=20
for i in range(0,5):
    print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

# Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes,
methods or modules.
2) They appear right after the definition of a function, method, class, or module.

In [70]:
def square(num): 
    """Square Function :- This function will return the square of a number"""
  
    return num**2

In [71]:
square(10)

100

In [72]:
square.__doc__ # returns the docstring of this method

'Square Function :- This function will return the square of a number'

In [76]:
def evenodd(num):
    """ this method will identify if the number is either even or odd"""
    
    if num%2 == 0:
        print("even")
    else:
        print("odd")

In [77]:
evenodd(4567)

odd

In [78]:
evenodd(46)

even

In [79]:
evenodd.__doc__

' this method will identify if the number is either even or odd'

# Variables
A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

In [86]:
p = 300

In [87]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

4610430224

In [89]:
hex(id(p))  # Memory address of the variable

'0x112cd9510'

In [90]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to po
q = 20 # Create new reference q which will point to value 20. p & q will be poin
r = q # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3'

(20, int, '0x1028b0350')

In [91]:
q , type(q), hex(id(q))

(20, int, '0x1028b0350')

In [92]:
r , type(r), hex(id(r))

(20, int, '0x1028b0350')

In [93]:
p = 20
p = p + 10 # Variable Overwriting
p

30

In [94]:
p , type(p), hex(id(p))

(30, int, '0x1028b0490')

# Variable Assigment

In [95]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [96]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [97]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types
Numeric

In [98]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int c

10
<class 'int'>
28
10  is Integer? True

In [99]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [100]:
val3 = "hello world"
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3," is string?", isinstance(val3, str)) #val3 is a instange of string

hello world
<class 'str'>
60
hello world  is string? True

In [106]:

sys.getsizeof(int()) # size of integer object in bytes

24

In [103]:

sys.getsizeof(float()) # size of float object in bytes

24

In [104]:

sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean
Boolean data type can have only two possible values true or false.

In [107]:
bool1 = True
bool2 = False

In [108]:
print(type(bool1))

<class 'bool'>

In [109]:
print(type(bool2))

<class 'bool'>

In [110]:
isinstance(bool1, bool)

True

In [111]:
bool(0)

False

In [112]:
bool(1)

True

In [113]:
bool(False)

False

In [114]:
bool (10)

True

In [116]:
bool (False)

False

# Strings
String Creation

In [117]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [118]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [119]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [120]:
mystr = '''Hello
World ''' # Define string using triple quotes
print(mystr)

Hello
World

In [122]:
mystr = """Hello
           World""" # Define string using triple quotes
print(mystr)

Hello
           World

In [123]:
mystr = ('Happy '
         'Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [124]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [125]:
len(mystr2) # Length of string

35

# String Indexing

In [126]:
str1

'HELLO PYTHON'

In [127]:
str1[0]

'H'

In [129]:
str1[len(str1)-1]

'N'

In [130]:
str1[::-1]

'NOHTYP OLLEH'

In [133]:
str1[::-2]

'NHY LE'

In [134]:
str1[::-3]

'NT L'

In [135]:
str1[6]

'P'

In [136]:
str1[5]

' '

# String Slicing

In [137]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl

'HELLO'

In [138]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex

'PYTHON'

In [139]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [140]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [141]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [142]:
str1[:6] # Retreive first six characters of the string

'HELLO '

# Update & Delete String

In [143]:
str1

'HELLO PYTHON'

In [144]:
#Strings are immutable which means elements of a string cannot be changed once th
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [146]:
del str1  # Delete a string
print(str1)

NameError: name 'str1' is not defined

# String concatenation

In [147]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [148]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + " " + s2
print(s3)

Hello Asif

In [149]:
mystr1 = "Hello Everyone"

In [151]:
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [152]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [153]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return the index with string

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

# String Membership

In [156]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in s
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mysrt

True
True
False

# String Partitioning

In [161]:
"""
The partition() method searches for a specified string and splits the string into
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [162]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

# String Functions

In [164]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [165]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [166]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [167]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [168]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [169]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [170]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [171]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [173]:
mystr2 = " Hello Everyone "

In [174]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [175]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [176]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [177]:
mystr2.replace(" " ,
"") # Remove all whitespaces using replace function

'HelloEveryone'

In [178]:
mystr5 = "one two Three one two two three"

In [179]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [180]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [181]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [182]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [184]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [185]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [186]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [187]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [188]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character as t
print(str2)

                                          WELCOME EVERYONE

In [189]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,
'*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [190]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the
print(str2)

                                 WELCOME EVERYONE

In [191]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,
'*') # Right align the string using a specific character ('*
print(str2)

******************************** WELCOME EVERYONE

In [193]:
len("******************************** WELCOME EVERYONE ")

50

In [195]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [196]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [197]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [198]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [199]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [200]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [203]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [205]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [206]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [207]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [208]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [209]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

# Using Escape Character

In [211]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [212]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"